.main-div {

  display: grid;
  grid-template-columns: 0.7fr 2fr 0.7fr;

}

.middle-text {

  text-align: center;

}

.pic-sizer {

  max-width: 60px;

}

.display-box {
  margin: auto;
  max-width: 400px;
  max-height: 400px;

}

.button {
  position: relative;
}